@model List<MouseGuardGMTool.Models.TheGuard>

@{
    ViewData["Title"] = "Home Page";
}
<h2>@ViewData["Message"]</h2>

<div class="row">
	@foreach (var p in Model)
		{
	<div class="col-sm-6 col-md-4">
		
		<div class="thumbnail">
			<h3 style="text-align:center">@p.Name</h3>
			<div class="caption">
				<table class="table">
					<thead>
						<th>Ability</th>
						<th>Rating</th>
					</thead>
					<tbody>
						<tr>
							<td>Nature(Mouse):</td>
							<td>@p.Nature</td>
						</tr>
						<tr>
							<td>Will:</td>
							<td>@p.Will</td>
						</tr>
						<tr>
							<td>Health:</td>
							<td>@p.Health</td>
						</tr>
						<tr>
							<td>Resources</td>
							<td>@p.Resources</td>
						</tr>
						<tr>
							<td>Circles</td>
							<td>@p.Circles</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	}
	<img src="/images/mg-mice.png" height="400px">
</div>
